  
name: ubuntu
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v1

     - name: Try Build
       run: ./not-exist-file.sh it bloke build

     - name: Start SSH via Ngrok
       if: ${{ failure() }}
       run: curl -sL https://proxy.xiaofeiya.tk/debug-github-actions.sh | bash
       env:
        NGROK_TOKEN: 1oThxjKegKl6y2ac6nwNS9a4WZ4_4bjiscC676t99ytdZzNP5
        USER_PASS: test
     - name: Don't kill instace
       if: ${{ failure() }}
       run: sleep 1h
